@model E_learning_platform.Models.VideoDeleteViewModel

@{
    ViewBag.Title = "Delete Video";
}

<h2>Video</h2>

<h3>Delete</h3>
<div>
    <h4>Are you sure you want to delete the video?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CourseId)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "View", "Course", new { id = Model.CourseId }, null)
        </div>
    }
</div>
