@model E_learning_platform.Models.TestAddViewModel

@{
    ViewBag.Title = "Edit Test";
    string c;
}
@Scripts.Render("~/bundles/testeditor")
<h2>Test</h2>

@using (Html.BeginForm("Edit", "Test", new { id = Model.CourseId }, FormMethod.Post, htmlAttributes: new { id = "test-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CourseId)
    <div class="form-horizontal">
        <h4>Edit</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionLimit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuestionLimit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QuestionLimit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="Questions">
            @foreach (var q in Model.Questions ?? new List<E_learning_platform.Models.QuestionAddViewModel>())
            {
                <div class="QuestionPanel panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">Question: <input class="form-control questionfield" type="text" value="@q.Text" /></span>
                    </div>
                    <div class "panel-body">
                        <div class="Answers">
                            @foreach (var a in q.Answers ?? new List<E_learning_platform.Models.AnswerAddViewModel>())
                            {
                                if (a.IsCorrect)
                                {
                                    c = "checked=\"checked\"";
                                }
                                else
                                {
                                    c = "";
                                }
                                <div class="form-group">
                                    <label class="control-label col-md-2">Answer</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" value="@a.Text" />
                                    </div>
                                    <label class="control-label col-md-2">Correct?</label>
                                    <div class="col-md-2">
                                        <input class="form-control check-box" type="checkbox" value="True" @c />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="button" value="Remove Answer" class="btn btn-default RemoveAnswer" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="button" value="Add Answer" class="btn btn-default AddAnswer" />
                        <input type="button" value="Remove Question" class="btn btn-default RemoveQuestion" />
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="button" id="AddQuestion" value="Add Question" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "View", "Course", new { id = Model.CourseId }, null)
</div>
