@model E_learning_platform.Models.ModeratorAddViewModel

@{
    ViewBag.Title = "Add Course Moderator";
    List<SelectListItem> modList = new List<SelectListItem>();
    foreach (var user in Model.ModeratorsList)
    {
        modList.Add(new SelectListItem() { Text = user.Name + " " + user.LastName + " (" + user.Email + ")", Value = user.Id });
    }
}

<h2>Course</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CourseId)
    <div class="form-horizontal">
        <h4>Add Moderator</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ModeratorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ModeratorId, modList, "-----", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ModeratorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "View", "Course", new { id = Model.CourseId }, null)
</div>
