@model E_learning_platform.Models.ProfileDetailsViewModel

@{
    ViewBag.Title = "View Profile";
}

<h2>Profile</h2>
@if (ViewBag.isAdmin == true)
{
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Administrator Options
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li>@Html.ActionLink("Make this user an administrator", "Assign", "Role", new { Role = "Administrator", Email = Model.Email }, null)</li>
            <li>@Html.ActionLink("Make this user a moderator", "Assign", "Role", new { Role = "Moderator", Email = Model.Email }, null)</li>
        </ul>
    </div>
    <br />
}
<div>
    <h4>Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    <h4>Courses</h4>
    <hr />
    <div class="row">
        @foreach (var item in Model.CourseList)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div style="width: 350px; height: 150px; overflow: hidden;">
                        @if (item.ImagePath != null)
                        {
                            <img src="@Url.Content("~/Content/Uploads/")@item.ImagePath" alt="...">
                        }
                        else
                        {
                            <img src="http://placehold.it/350x150" alt="...">
                        }
                    </div>
                    <div class="caption">
                        <h3>@Html.DisplayFor(m => item.Name)</h3>
                        <p>@Html.DisplayFor(m => item.Desc)</p>
                        <p>Price: @Html.DisplayFor(m => item.Price) PLN</p>
                        <p><a href="@Url.Action("View", "Course", new {id = item.Id})" class="btn btn-primary" role="button">Go to Course</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <h4>Test Results</h4>
    <hr />
    <div class="list-group">
        <div class="list-group-item active">
            <h4 class="list-group-item-heading">My Results</h4>
        </div>
        @foreach (var element in Model.GeneratedTests)
        {
            <a href="@Url.Action("Result", "Test", new { id = element.Id }, null)" class="list-group-item">
                <h4 class="list-group-item-heading">
                    @element.Test.Name - @element.Score/@element.QuestionAnswers.Count (@element.Date)
                </h4>
            </a>
        }
    </div>
</div>
